name: Linked issue check

on:
  pull_request:
    types:
    - opened
    - edited
    - reopened
    - synchronize

jobs:
  check-issue-link:
    runs-on: self-hosted
    steps:
    - name: Check for linked issue
      id: check_linked_issue
      run: |
        PR_TITLE="${{ github.event.pull_request.title }}"
        PR_BODY="${{ github.event.pull_request.body }}"

        if [[ ! "$PR_BODY" =~ #[0-9]+ ]]; then
          echo "Pull Request does not reference a linked issue. Please link an issue in the PR description."
          echo "has_linked_issue=false" >> $GITHUB_OUTPUT
        else
          echo "Pull Request has a linked issue."
          echo "has_linked_issue=true" >> $GITHUB_OUTPUT
        fi

    - name: Comment on PR if theres no linked issue
      if: steps.check_linked_issue.outputs.has_linked_issue == 'false'
      id: pr_comment
      uses: peter-evans/create-or-update-comment@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          ⚠️ This Pull Request does not reference a linked issue. Please link an issue in the PR title or body.

    - name: Fail if no linked issue
      if: steps.check_linked_issue.outputs.has_linked_issue == 'false'
      run: exit 1
