name: Terraform CI/CD Pipeline

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  TF_VERSION: 1.14.3
  AWS_REGION: us-east-1

permissions:
  contents: read
  id-token: write
  actions: read
  checks: write
  pull-requests: write

jobs:
  terraform:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: Terraform initialize
      run: terraform init
      env:
        AWS_REGION: ${{ env.AWS_REGION }}
      working-directory: ./infrastructure

    # - name: Terraform format
    #   run: terraform fmt -check
    #   working-directory: ./infrastructure

    - name: Terraform validate
      run: terraform validate
      working-directory: ./infrastructure

    - name: Terraform plan
      if: github.event_name == 'pull_request'
      run: terraform plan -no-color -input=false
      working-directory: ./infrastructure

    - name: Terraform apply
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve -input=false
      working-directory: ./infrastructure
